<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tarefas.css">
    <title>Tarefas - Aluno</title>
</head>
<body>

<aside class="sidebar">
        <h1 class="aluno">Aluno</h1>

        <hr class="hr">

        <div class="user">
            <div class="avatar">
            </div>
            <span>Aluno</span>
        </div>

        <nav class="nav">
            <a class="active", href="inicio.html">Início</a>
            <a class="active", href="boletim.html" >Boletim</a>
            <a class="active", href="tarefas.html" >Tarefas</a>
            <a class="active", href="" >Matérias</a>
        </nav>
    </aside>

<div class="main">

    <h1 class="titulo">Tarefas</h1>

    <div class="legenda">
        <span class="pendente"></span> Pendente
        <span class="concluida"></span> Concluída
        <span class="fora"></span> Fora do Prazo
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th colspan="3", class="tarefa">Tarefas</th>
                    <th class="editar">Editar ✏️</th>
                </tr>
            </thead>

            <tbody>

                <tr class="materias">
                    <td>Psicologia do <br>Medo Infantil</td>
                    <td>Expressividade Vocal<br> Avançada</td>
                    <td>Engenharia de Sustos<br> e <br>Rendimento Energético</td>
                    <td>Tecnologia de Portais<br> Interdimensionais</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="card-verde">
                            <strong>FAZER PROVA <br>DE MATEMÁTICA</strong><br>
                            Entregar até dia: 05/02
                        </div>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <div class="card-vermelho">
                            <strong>FAZER QUIZ DE <br>PSICOLOGIA</strong><br>
                            Entregar até dia: 06/02
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="card-verde">
                            <strong>EXERCÍCIOS DO LIVRO</strong><br>
                            Entregar até dia: 04/02
                        </div>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="card-amarelo">
                            <strong>GRAVAR ÁUDIO</strong><br>
                            Entregar até dia: 11/02
                        </div>
                    </td>
                    <td></td>
                    <td></td>

                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="card-amarelo">
                            <strong>FAZER <br>QUEBRA-CABEÇA</strong><br>
                            Entregar até dia: 15/02
                        </div></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
    <img src="../../../assets/imgs/mike.png" alt="mike" class="mike">
</div>

</body>
</html>