* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    border: none;
    display: flex;
    font-family: "Instrument Sans", sans-serif;
}
aside {
    border: 1px solid black;
    width: 300px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1; 
    padding: 0;
}
.metade-espaco {
    width: 50%;
}
.title {
    font-size: 4rem;
    text-align: center;
    width: 40%;
    margin-top: 40px;
}

.atividade-container {
    background-color: var(--secundario);
    width: 70%;
    height: 60%;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
