@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Kodchasan', sans-serif;
    background:#f4f4f4;
}

/* HEADER */

header{
    background:#0b2f5b;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 40px;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-area img{
    width:45px;
}

nav{
    display:flex;
    gap:15px;
}

.btn{
    background:#18457c;
    padding:8px 15px;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
    transition:0.3s;
    text-decoration:none;
    color:white;
}

.btn:hover{
    background:#2c6cc2;
}


/* BANNER */

.banner img{
    width:100%;
    display:block;
}


/* SOBRE */

.sobre{
    padding:60px 20px;
    text-align:center;
}

.sobre h1{
    color:#1c4a8c;
    margin-bottom:30px;
    font-size:28px;
}

.sobre-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    max-width:1000px;
    margin:auto;
}

.sully{
    width:450px;
}

.texto{
    background:#173b6b;
    color:white;
    padding:30px;
    border-radius:15px;
    max-width:500px;
    text-align:left;
    line-height:1.6;
}


/* DIFERENCIAIS */

.diferencial{
    background:#0b2f5b;
    color:white;
    padding:60px 20px;
    text-align:center;
}

.diferencial h2{
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,220px);
    justify-content:center;
    gap:30px;
}

.card{
    background:#1c4a8c;
    padding:30px;
    border-radius:12px;
    height:120px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:14px;
}


/* FRASE */

.frase{
    background:#f4f4f4;
    padding:80px;
    font-size: x-large;
    text-align:center;
    font-style:italic;
    color:#444;
}


/* FOOTER */

footer{
    background:#0b2f5b;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    padding:40px;
}

.footer-logo img{
    width:60px;
}

.footer-links{
    display:flex;
    gap:60px;
}

footer h4{
    margin-bottom:10px;
    font-size:14px;
}

footer p{
    font-size:13px;
    margin-bottom:5px;
}